@media (min-width: 768px) and (max-width: 991px) {
  /* line 4, ../sass/media.scss */
  header .glyphicon-refresh {
    top: 2.0em;
    left: 2.1em;
  }

  /* line 10, ../sass/media.scss */
  header .glyphicon-user {
    transform: translate(0, 2.9em);
  }

  /* line 15, ../sass/media.scss */
  .col-xs-5 h1 {
    margin-bottom: 0;
  }
  /* line 19, ../sass/media.scss */
  .col-xs-5 small {
    margin-left: 40%;
  }

  /* line 26, ../sass/media.scss */
  .network-body .form-group:nth-child(1) {
    margin-left: 2%;
  }
  /* line 29, ../sass/media.scss */
  .network-body .form-group:nth-child(2) {
    margin-left: 7%;
  }
  /* line 32, ../sass/media.scss */
  .network-body .form-group:nth-child(3) {
    margin-left: 2%;
  }
  /* line 35, ../sass/media.scss */
  .network-body .form-group:nth-child(4) {
    margin-left: 7%;
  }
  /* line 39, ../sass/media.scss */
  .network-body .btn-network {
    margin: 0 auto;
  }

  /* line 44, ../sass/media.scss */
  .time-sync-body {
    padding-left: 4%;
    padding-right: 4%;
  }
  /* line 49, ../sass/media.scss */
  .time-sync-body form:nth-child(1) {
    padding-left: 25%;
  }
  /* line 52, ../sass/media.scss */
  .time-sync-body form:nth-child(2) {
    padding-left: 25%;
  }
}
@media (min-width: 992px) {
  /* line 60, ../sass/media.scss */
  .form-inline .form-control {
    width: 310px;
  }

  /* line 64, ../sass/media.scss */
  header .glyphicon-refresh {
    left: 2.1em;
  }
}
@media (min-width: 1200px) {
  /*	.form-inline .form-control {
  		width: 410px;
  	}*/
  /* line 74, ../sass/media.scss */
  .container {
    width: 970px;
  }

  /*	header {
  		.glyphicon-refresh {
  			left: 2.7em;
  		}
  	}*/
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* line 101, ../sass/media.scss */
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
